* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    margin: 50px 0;
    background-color: #eef4ff;
    font-family: Arial;
    height: 100vh;
}

:root {
    line-height: 1.5;
    font-weight: 400;
}

h2 {
    color: #1c2574;
    font-size: 2.8em;
    line-height: 0.5;
}

ul,
li {
    list-style: none;
}

button {
    background-color: #ffeb00;
    border-radius: 5px;
    border: 1px solid transparent;
    padding: 0.5em 1em;
    font-weight: bold;
    cursor: pointer;
    transition: border-color 0.25s;
}

button:hover {
    border-color: #1c2574;
}

.app-style {
    background-color: white;
    padding: 50px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0px 3px 3px #aaa;
}

.main-ul-style {
    display: flex;
    justify-content: space-around;
    font-weight: bold;
    color: #000;
    margin-top: 50px;
}

.all-input-style {
    display: flex;
    gap: 10px;
    margin: 10px 0;
}

.input-style {
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #aaa;
}

.button-style {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin: 30px 0;
}

.span-style {
    display: block;
    text-align: left;
    margin-top: 50px;
}

.section-style {
    background-color: #dde9ff;
    border-radius: 20px 20px 0 0;
}

.ul-title-style {
    display: flex;
    justify-content: space-evenly; /* 항목을 균일 간격으로 배치 */
    font-weight: bold;
    background-color: #1c2574;
    color: white;
    border-radius: 20px 20px 0 0;
}

.ul-list-style {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
}

.ul-title-style li {
    flex: 1;
    padding: 10px 0;
}

.list-item-style {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.list-item-style span {
    padding: 10px 0;
}

.ul-list-style li p {
    padding: 10px 0;
}

.list-item-style:nth-child(even) {
    background-color: #b8cdf4;
}

.delete-button {
    background-color: rgb(255, 69, 69);
    border-radius: 3px;
    border-color: transparent;
    padding: 0.2rem 0.5rem;
    font-size: 0.6rem;
    color: white;
    transition: color 0.25s;
    cursor: pointer;
}

.delete-button:hover {
    border-color: transparent;
    color: black;
}
